.introDes{
    margin: 7vh 0 ;
}
.bio-img{
    border-radius: 50%;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    
}
.bio-section{
    padding: 1%;
    margin-left:2vw;
}
.bio-card{
}
.img-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: -10px;
}
.bio-text{
    margin-top: 2vh;
    margin-left: 3vw;
}

.icon-div{
    padding: 2px;
    border-radius: 71%;
    border: 2px solid;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    OVERFLOW: hidden;
    margin: -25px 0 auto;
    background-color: #373d42d4;
}

.mycard {
    background-color: #373d42d4;
    border-radius: 1em;
    transition: background-color 0.3s ease; /* Add smooth transition for background-color */
  }
  
  .mycard:hover {
    background:linear-gradient(45deg,#3bf6866e, #4ca8ff60);
  }
  